@model Project

<div asp-validation-summary="All" class="text-danger"></div>

<h2>Lägg till ett nytt projekt: </h2>

<form asp-action="AddProject" method="post">
    <label>Titel: </label>
    <input asp-for="Titel" />
    <br />
    <label>Beskrivning: </label>
    <input asp-for="Description" />
    <br />
    <label>Startdatum: </label>
    <input type="date" asp-for="StartDate" />
    <br />
    <label>Slutdatum: </label>
    <input type="date" asp-for="EndDate" />
    <br />
    <input type="hidden" name="CreatorID" value="1" />
    <br />
    <button type="submit">Lägg till</button>
</form>

<a asp-controller="Project" asp-action="Project">Återgå till projektsidan</a>




@* <form asp-action="AddProject" method="post">
	<label>Titel: </label>
	<input asp-for="Titel" />
	<br />
	<label>Beskrivning: </label>
	<input asp-for="Description" />
	<br />
	<label>Startdatum: </label>
	<input type="date" asp-for="StartDate"/>
	<br />
	<label>Slutdatum: </label>
	<input type="date" asp-for="EndDate" />
	<br />
	<label>Skapad av: </label>
	<label asp-for="CreatorID"></label>
	<button type="submit">Lägg till</button>
</form>

<a asp-controller="Home" asp-action="Index">Återgå till Hem</a> *@
