@* @model User *@
@model EditProfileViewModel


<div asp-validation-summary="All" class="text-danger"></div>

<h1>Redigera profilen:</h1>

<div class="border border-dark">
<form asp-action="UpdateUser" method="post">
    <label>Förnamn: </label>
    <input type="text" name="firstname" asp-for="User.Firstname" />
    <br />
    <label>Efternamn: </label>
    <input type="text" name="lastname" asp-for="User.Lastname" />
    <br />
    <label>Födelsedatum: </label>
    <input type="date" name="birthday" asp-for="User.BirthDay" />
    <br />
    <label>Privat/Offentlig: </label>
    <select name="privacy" asp-for="User.PublicSetting">
        <option value="true">Offentlig</option>
        <option value="false">Privat</option>
    </select>
    <br />
    <button type="submit">Spara</button>
</form>
    

</div>
<h1>Ändra profilbild:</h1>

<div class="border border-dark">
    
    <form asp-action="UpdateUserProfilePicture" method="post" enctype="multipart/form-data">
        <input type="file" name="imgFile" accept="image/*" />
        <button type="submit">Ladda upp</button>
    </form>

</div>
<h1>Mitt CV: </h1>
@if (Model.User.CVID == null || string.IsNullOrEmpty(Model.User.CVID.ToString())){
    <div class="border border-dark">
        <form asp-action="CreateCV" method="post">
            <label>Titel: </label>
            <input asp-for="CV.Header" />
            <br />
            <label>Om mig: </label>
            <input asp-for="CV.Content" />
            <br />
            <label>Kompetenser: </label>
            <input asp-for="CV.Competence" />
            <br />
            <label>Utbildning: </label>
            <input asp-for="CV.Education" />
            <br />
            <label>Tidigare erfarenhet: </label>
            <input asp-for="CV.PreviousExperience" />
            <br />
            <button type="submit">Spara</button>
        </form>
    </div>
} else{
    <div class="border border-dark">
        <form asp-action="UpdateCV" method="post">
            <label>Titel: </label>
            <input asp-for="CV.Header" />
            @* <input name="cvHeader" asp-for="CV.Header" /> *@
            <br />
            <label>Om mig: </label>
            <input asp-for="CV.Content" />
            <br />
            <label>Kompetenser: </label>
            <input asp-for="CV.Competence" />
            <br />
            <label>Utbildning: </label>
            <input asp-for="CV.Education" />
            <br />
            <label>Tidigare erfarenhet: </label>
            <input  asp-for="CV.PreviousExperience" />
            <br />
            <input type="hidden" value="@Model.CV.CVID" asp-for="CV.CVID" />
            @* <input type="hidden" value="@Model.User" asp-for="CV.Users" /> *@
            
            <br />
            <button type="submit">Spara</button>
        </form>
    </div>
}
<h1>Mina projekt:</h1>
<div class="border border-dark">
@foreach(var uip in Model.User.UsersInProject)
{
            <label>Titel: </label>
            <a class="link-id" asp-controller="Project" asp-action="ProjectInfo" asp-route-projectID="@uip.ProjectID">@uip.Project.Titel</a>
        @if (Model.User.Id == uip.Project.CreatorID)
        {
            <label>Skapare</label>
        }
        else
        {
            <label>Deltagare</label>
        }

                <br />
}
</div>
<h1>Ändra lösenord:</h1>

<div class="border border-dark">
    <form asp-action="UpdateUserPassword" method="post">
        <label>Gammalt lösenord: </label>
        <input type="password" name="oldPassword" />
        <br />
        <label>Nytt lösenord: </label>
        <input type="password" name="newPassword" />
        <br />
        <label>Upprepa nytt lösenord: </label>
        <input type="password" name="confirmPassword" />
        <br />
       
        <button type="submit">Spara</button>
    </form>
</div>

