@model List<Message>

@{
	string reciever = "";
	bool isRealUser = false;
}
<div asp-validation-summary="All" class="text-danger"></div>
<div id="messagesContainer" class="border border-dark border-3 overflow-scroll" style="max-height: 400px; max-width: 700px;">

	@foreach (Message message in Model)
	{
		
		<div class="border border-dark ms-3 mx-3">
		<label>@message.SendUser.Firstname</label>
		<br />
		<textarea readonly>@message.Content</textarea>

			@if (message.ReceiveUser.UserName.Equals(User.Identity.Name))
			{
				@if (message.IsRead == false)
				{
					<form asp-action="ReadMessage" asp-route-messageID="@message.MessageID" method="post">

						<button type="submit">Läst</button>
					</form>
				}
			}
			
		</div>
		<br />

		if (message.SendUser.UserName.Contains("@"))
		{
			isRealUser = true;
		}

		if (message.SendUser.UserName.Equals(User.Identity.Name))
		{
			reciever = message.ReceiverID;
		}
		else
		{
			reciever = message.SenderID;
		}
	}


    
	</div>
	
@if (isRealUser)
{
	<form asp-action="SendMessage" asp-route-recieverID="@reciever" method="post">

		<label>Meddelande</label>
		<br />
		<input id="messageContent" type="text" style="height:100px; width:500px" name="content" value="" />

		<button id="sendMessageButton" type="submit">Skicka</button>

		<script>

			const sendMessageButton = document.getElementById("sendMessageButton");
			const messageContent = document.getElementById("messageContent");
			sendMessageButton.style.display = "none";
			

			messageContent.addEventListener("input", function () {

				const message = messageContent.value.trim();
				
				if (message !== "") {
					sendMessageButton.style.display = "inline-block";
					
				} else {
					sendMessageButton.style.display = "none";
					
				}
			});
		</script>

	</form>

	
}
else
{

	<p>Detta meddelande kommer från en användare utan konto.</p>
	<p>Du kan inte svara på meddelandet.</p>
}
