<h1>Nytt meddelande</h1>
<div asp-validation-summary="All" class="text-danger"></div>
@if (User.Identity.IsAuthenticated)
{
    <form asp-action="SendNewMessage" method="post">
        <label>Mottagare</label>
        <div>
            <input type="search"
                   name="search"
                   id="searchInput"
                   placeholder="Sök användare..."
                   oninput="searchUsers()" />
            <div id="searchResults">
            </div>
            <br />
            <label>Meddelande</label>
            <br />
            <input id="messageContentUser" type="text" style="height:300px; width:70%" name="content" value="" />
            <br />
            <button id="sendMessageButtonUser" type="submit">Skicka</button>
    </form>

    <script>

        const sendMessageButtonUser = document.getElementById("sendMessageButtonUser");
        const messageContentUser = document.getElementById("messageContentUser");
        sendMessageButtonUser.style.display = "none";


        messageContentUser.addEventListener("input", function () {

            const message = messageContentUser.value.trim();

            if (message !== "") {
                sendMessageButtonUser.style.display = "inline-block";

            } else {
                sendMessageButtonUser.style.display = "none";

            }
        });
    </script>
}
else
{
    <form asp-controller="Account" asp-action="SendNewMessageNoUser" method="post">
        <label>Mottagare</label>
        <div>
            <input type="search"
                   name="search"
                   id="searchInput"
                   placeholder="Sök användare..."
                   oninput="searchUsers()" />
            <div id="searchResults">
            </div>
            <br />
            <label>Ditt förnamn:</label>
            <br />
            <input id="firstnameContent" type="text" name="firstName" value="" />
            <br />
            <label>Ditt efternamn:</label>
            <br />
            <input id="lastnameContent" type="text" name="lastName" value="" />
            <br />
            <label>Meddelande</label>
            <br />
            <input id="messageContent" type="text" style="height:300px; width:70%" name="content" value="" />
            <br />
            <button id="sendMessageButton" type="submit">Skicka</button>
    </form>

    <script>

        const sendMessageButton = document.getElementById("sendMessageButton");
        const messageContent = document.getElementById("messageContent");
        const lastnameContent = document.getElementById("lastnameContent");
        const firstnameContent = document.getElementById("firstnameContent");
        sendMessageButton.style.display = "none";


        messageContent.addEventListener("input", function () {

            const message = messageContent.value.trim();
            const firstname = firstnameContent.value.trim();
            const lastname = lastnameContent.value.trim();

            if (message !== "" && firstname !== "" && lastname !== "") {
                sendMessageButton.style.display = "inline-block";

            } else {
                sendMessageButton.style.display = "none";

            }
        });
    </script>
}





