html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.link-id{
    color: black;
    font-weight: 600;
}

.searchCss{
    border: solid;
    padding: 1rem;
    border-radius: 2px;
}

.searchLi{
    text-decoration: underline;
}


.searchLi:hover{
    cursor: pointer;
    color: blue;
    font-size: 105%;
    
}

textarea{
    resize: none;
    
}

.overflow-scroll {
    
    scroll-behavior: smooth;
}

a:hover{
    cursor: pointer;
}

.hoverPointer:hover{
    cursor: pointer;
}

